@use 'variables' as var;

#experiences {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap : 4rem;

    button {
        align-self: center;
    }
}

.experiences-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.experiences, .educations {
    display: flex;
    width: 100%;
    flex-direction: column;

    .experience, .education {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        background-color: var.$secondary-black;
        padding: 1rem;
        padding-left: 2rem;
        border-left: .5rem solid var.$light-blue;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            background-color: var.$light-green;
            border-radius: 50%;
            top: 2.5rem;
            left: -1rem;
        }

        &-duration {
            font-family: 'Inter', serif;
            font-weight: 400;
            color: var.$light-blue;
        }

        &-title {
            font-family: 'Inter', serif;
            font-size: 1.5rem;
            font-weight: 700;
            color: var.$white;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }

        &-company {
            font-family: 'Inter', serif;
            font-weight: 400;
            color: var.$white;
        }


    }
}