@use 'variables' as var;

footer {
    padding: 3rem 0;
    border-top: 1px solid var.$card-border;
    margin-top: 4rem;

    .footer-content {
        text-align: center;

        p {
            color: var.$text-muted;
            font-size: 0.95rem;
        }
    }
}