@forward 'variables';
@forward 'reset';
@forward 'foundation';
@forward 'navbar';
@forward 'header';
@forward 'about';
@forward 'services';
@forward 'skills';
@forward 'portfolio';
@forward 'experiences';
@forward 'certificates';
@forward 'contact';
@forward 'footer';
@forward 'project-detail';